<div class="navbar">

    <div class="navbar__logo">
        <a href="/"><img src="/img/logo_hpp.png" alt="logo_hpp"></a>
    </div>

    {{#if currentUser}}
    <div class="admin__button">
        <div class="admin-mode-indicator">
            <a href="/logout">Admin</a>
        </div>
    </div>

    {{/if}}

    <div class="navbar__links">

        <a href="/">Home</a>
        <a href="/education">Education</a>
        <a href="/professional_experience">Professional Experience</a>
        <a href="/projects">Projects</a>
        <a href="/references">References</a>
        <a href="/contact">Contact</a>
        {{#unless currentUser}}
        <a href="/login">Log In</a>
        {{/unless}}
    </div>

</div>