<div class="contact__container">
    <h1>Contact</h1>
    <div class="contact__form">
        <form id="contact-form" class="topBefore" action="/send-email" method="post" enctype="multipart/form-data">

            <input name="name" type="text" placeholder="NAME" required>
            <input name="email" type="email" placeholder="E-MAIL" required>
            <input name="company" type="text" placeholder="COMPANY" required>
            <input name="position" type="text" placeholder="POSITION" required>
            <textarea name="message" type="text" placeholder="MESSAGE" required></textarea>
            <input id="submit" type="submit" value="SEND">

        </form>
    </div>
</div>