<div class="education__container">
    {{#each projects}}
        {{> project_card currentUser=../currentUser project=this}}
        {{!-- <div class="horizontal__line"></div> --}}
    {{/each}}
</div>